
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ibeacon.simulator">
      <!-- Required to scan for and connect Beacons via Bluetooth. -->
     <uses-permission android:name="android.permission.BLUETOOTH"/>
     <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

     <!-- Required for BLE scanning on Android 6.0 and above. -->
     <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>

</manifest>
